{% extends 'products/base.html' %}
{% load humanize %}

{% block content %}

<div style="padding-bottom: 20px;">
    {% for cart in carts %}
        {% if cart.active %}
        <button type="button" class="btn btn-info btn-lg white-link"><a href="">
            Košík {{ forloop.counter }} &nbsp;<span class="glyphicon glyphicon-folder-open"></span></a> </button>
        {% else %}
        <button type="button" class="btn btn-info btn-lg white-link"><a href="{% url 'cart:cart_view' current_cart=forloop.counter %}">
            Košík {{ forloop.counter }}</a> </button>
        {% endif %}
    {% endfor %}
    <button type="button" class="btn btn-success white-link"><a href="{% url 'cart:create_new_cart' %}">Vytvořit nový košík <span class="glyphicon glyphicon-plus"></span></a></button>
</div>

<div class="cart_content">
<table class="table table-hover  center cart">
    <thead>
        <tr>
            <th scope="col">Tričko</th>
            <th scope="col">Barva</th>
            <th scope="col">Množství</th>
            <th scope="col"></th>
            <th scope="col">Cena za kus</th>
            <th scope="col">Cena za vše</th>
            <th></th>
        </tr>
    </thead>
{%for item in items %}

<tr>
    <td><a href="{% url 'products:detail' item.item.slug %}" id="black_font">{{ item.item.title }}</a></td>
    <td>{{ item.item.color}}</td>
    <td><a href="{% url 'cart:remove' item.item.slug %}" class="glyphicon glyphicon-minus-sign text-info no_under_line"></a>&nbsp;&nbsp;  {{ item.quantity }} Ks &nbsp;
        <a href="{% url 'cart:add_item' item.item.slug %}" class="glyphicon glyphicon-plus-sign text-info no_under_line" ></a></td>
    <td><a href="{% url 'products:detail' item.item.slug %}"><img src="{{ item.item.image.url }}" id="product_cart_image"></a></td>
    <td><span class="green_price">{{ item.item.price_with_tax|intcomma }} Kč <small>s DPH</small></span></br> </td>
    <td><span class="green_price">{{ item.get_total_with_tax|intcomma }} Kč <small>s DPH</small></span></br>{{ item.get_total|intcomma }} Kč <small>bez DPH</small></td>  
    <!--<td><button type="button" class="close close_cross" aria-label="Close" onclick="return confirm('Opravdu chcete odstranit toto tričko?');"><a href="{% url 'cart:delete' item.item.slug %}">
        <span aria-hidden="true">&times;</span></a></button></td>-->
    <!--<td><a href="#myModal{{ forloop.counter }}" type="button" class="close close_cross" data-toggle="modal"><span aria-hidden="true">&times;</span></a></td>-->
    <td><a href="#myModal{{ forloop.counter }}" type="button" class="glyphicon glyphicon-remove no_under_line" data-toggle="modal"></a></td>
    


    
</tr>
    
<!-- Delte t-shirt from cart pop-up confirmation. - Modal HTML -->
<div id="myModal{{ forloop.counter }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Potvrzení</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Opravdu chcete odstranit tričko <b>{{ item.item.title }}</b> z košíku?</p>
                <p><img src="{{ item.item.image.url }}" id="product_cart_image"></p>
                <p class="text-secondary"><small></small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-primary white-link"><a href="{% url 'cart:delete' item.item.slug %}">Odstranit</a></button>
            </div>
        </div>
    </div>
</div>

{% endfor %}
<tr class="table-secondary">
<td colspan="4"></td>
<td><b> Cena celkem: </b></td>    
<td> <span class="green_price">{{ order.get_totals_with_tax|intcomma }} Kč<small>s DPH</small></span></br>{{ order.get_totals|intcomma }} Kč<small>bez DPH</small></td>
<td></td>
</tr>

</table>

<button type="button" class="btn btn-success btn-lg white-link"><a href="{% url 'products:home' %}">Přidat trička</a></button>

{% endblock %}

</div>

<p>Testuji jak fungují revize Gitu</p>