{% extends 'products/base.html' %}

{% load crispy_forms_tags %}
{% load progress_bar %}


{% block content %}
{% progress_bar_media %}

    <div class="upload_image_box">
        
            {% progress_bar %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
                <div class="" >
                    <table style="width:100%; " border=0>
                        <tr>
                            <td style="height:30px;">
                                <p><b>Vyberte obrázek z počítače:</b> png, jpg, jpeg, pdf<br>
                                {{ form.image}}
                            </td>
                            <td rowspan=2 valign="top">
                                <p><b>Zvolte si, kde bude obrázek umístěn:</b><br>
                                {{ form.position }}
                                <p><b>Vyberte prosím velikost obrázku:</b><br>
                                    {{ form.size }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50%;">
                                <div class="upload_image_frame">
                                    <img class="upload_image_image" src="https://tshirtsapp.s3.amazonaws.com/template_images/default_image.jpg" 
                                        id="image" onerror="this.src='https://tshirtsapp.s3.amazonaws.com/template_images/default_image_icon.png'" />
                                </div>
                                <p>Název uloženého obrázku můžete změnit:<br> </p>
                                {{ form.title }}
                            </td> 
                           
                        </tr>
                    </table>
                </div>

                
            <div class="center">
                <button type="submit" class="btn btn-success btn-lg" style="width: 50%; margin-top: 25px; margin-bottom: 15px ;">Uložit obrázek 
                    <span class="glyphicon glyphicon-upload"></span></button> <br>
                <a href="{% url 'gallery:home'%}">Zpět do galerie</a>
            </div>
        </form>
    </div>

<!--Show image for upload-->
<script>
    document.getElementById("files").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("image").src = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
</script>

<!--Get file name in title field-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>

    var splitByLastDot = function(text) {
        var index = text.lastIndexOf('.');
        return [text.slice(0, index)]
    }

    $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            /*alert('The file "' + fileName +  '" has been selected.');*/
            document.getElementById("title").value = splitByLastDot(fileName)
        });
    });
</script>

<!--Get image for size of print-->
<script>
    $(document).ready(function(){
        $("#id_size_0").after('<img class="image_size_radio_button" src="https://tshirtsapp.s3.amazonaws.com/template_images/Rozmer1.png"/><br>')
        $("#id_size_1").after('<img class="image_size_radio_button" src="https://tshirtsapp.s3.amazonaws.com/template_images/Rozmer2.png"/><br>')
        $("#id_size_2").after('<img class="image_size_radio_button" src="https://tshirtsapp.s3.amazonaws.com/template_images/Rozmer3.png"/><br>')
    });
</script>

<!--Get image for position of print-->
<script>
    $(document).ready(function(){
        $("#id_position_0").after('<img src="https://tshirtsapp.s3.amazonaws.com/template_images/black_tshirt.jpg"/><br>')
        $("#id_position_1").after('<img src="https://tshirtsapp.s3.amazonaws.com/template_images/black_tshirt.jpg"/><br>')
        $("#id_position_2").after('<img src="https://tshirtsapp.s3.amazonaws.com/template_images/black_tshirt.jpg"/><br>')
        $("#id_position_3").after('<img src="https://tshirtsapp.s3.amazonaws.com/template_images/black_tshirt.jpg"/><br>')
        $("#id_position_4").after('<img src="https://tshirtsapp.s3.amazonaws.com/template_images/black_tshirt.jpg"/><br>')
        $("#id_position_5").after('<img src="https://tshirtsapp.s3.amazonaws.com/template_images/black_tshirt.jpg"/><br>')
    });
</script>

{% endblock %}
