{% extends 'products/base.html' %}
{% load thumbnail %}

{% block content %}

<div style="margin: 15px 15px;">
    <a href="{% url 'gallery:create' %}" class="btn btn-info btn-lg white-link">Přidat nový obrázek do galerie 
        <span class="glyphicon glyphicon-picture"></span></a>
</div>

{% for image in object_list %}


    <div class="gallery_image_box">
        <a href="{{image.image.url}}" target="_blank"><div class="gallery_image_frame">

            {% if image.css_class == 'png' or image.css_class == 'jpg' %} 
                {% thumbnail image.image "x200" crop="center" as thumb %}
                <img src="{{thumb.url}}" class="gallery_image_thumbnail" onerror="this.src='https://tshirtsapp.s3.amazonaws.com/template_images/default_image.jpg'">
                {% endthumbnail %} 
            {% else %}
                <img src="{{image.image.url}}" class="gallery_image_thumbnail" onerror="this.src='https://tshirtsapp.s3.amazonaws.com/template_images/default_image_icon.png'">
            {% endif %}

        </div></a><br>
            <div class="gallery_image_text">
            <b>Název:</b> {{image.title}} <br>
            <b>Soubor:</b> {{image.css_class}} <br>
            <b>Velikost:</b> {{image.size}} <br>
            <b>Umístění:</b> {{image.position}} <br>
            {% if image.note %}<b>Poznámka:</b> {{image.note}} <br>{% endif %}
            </div>
    </div>
    
    {% comment %} 
    <div class="gallery_image_box">
        <a href="{{image.image.url}}" target="_blank"><img class="gallery_image_thumbnail" src="{{image.image.url}}" /></a> </br>
        <b>Název:</b> {{image.title}} <br>
        <b>Velikost:</b> {{image.size}} <br>
        <b>Umístění:</b> {{image.position}} <br>
        {% if image.note %}<b>Poznámka:</b> {{image.note}} <br>{% endif %}
    </div>
    {% endcomment %}

{% endfor %}

{% endblock %}