
body {
    backgroundX: gray url('background.jpg');
    font-size: 1.5em!important;
}

h1 {
    font: Trebuchet MS;
}

ul {
    list-style-type: none;
}

.no_under_line {
    text-decoration: none!important;
}

.white-link a {
    color: white;
    text-decoration: none!important;
    font-size: 1.2em!important;
}

.white-link a:hover{
    color: white!important;
    text-decoration: none!important;

}

.white-link a:active{
    color: white!important;
    text-decoration: none!important;

}

.center_block {
    width: 20%;
    margin: auto;
    
} 

.center {
    text-align: center;
}





#black_font {
    color:black!important;
}


#product_detail_image {
    max-width: 300px;
    float: left;
    margin: 0 100px;
    margin-bottom: 200px;
}

#product_cart_image {
    max-width: 40px;
}

#product_thumbnail {
    float: left;
    margin: 10px 0;
    max-width: 235px;
}

.product_detail_box {
    margin-top: 30px;
    width: 80%;
    padding-bottom: 50px;
}

/*Colors of t-shirt to choose in product detail.*/
.color_box {
    width: 25px;
    height: 25px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    display: inline-block;
    text-decoration: none!important;
    
}

.color_box_small {
    width: 20px;
    height: 20px;
    border: 0.1px;
    border-style: solid;
    border-color: gray;
    margin-right: -1px;
    display: inline-block;
    text-decoration: none!important;
    
}

.green_price {
    color: green;
    font-size: 1.1em;
}

.close_cross a {
    color: rgb(0, 0, 0)!important; 
    opacity: 1;
    text-decoration: none!important;
    padding-right:30px!important;
}

.cart td{
    vertical-align: middle!important;
    text-align: center;
  }

.cart th{
    text-align: center;
    }

.cart_content {
    width: 60%;
    margin: auto;

}


.one-page-cart-content {
    width: 60%;
    margin: auto;
    padding-bottom: 40px;



}

.one-page-cart-self {
    padding: 10px 0px;

}
    
.login_box {
    width:400px;
    margin:auto;
    margin-top: 40px;
}
.login_label {
    color:white; 
    position:absolute;
    right: 20px; 
}

/* Gallery with images for print */

.gallery_image_box {
    float: left;
    width: 230px;
    height: 250px;
    margin: 15px 15px;



}


.gallery_image_thumbnail {
    width: 100%;
    border: 2px;
    border-style: solid;
    border-color: black;

}


.upload_image_box {
    width:850px;
    margin:auto;
    margin-top: 40px;
}

.upload_image_image {
    max-width:400px; 
    max-height:400px;
    margin-bottom: 20px;
    float: left;
}

.upload_image_frameXXX {
    width:300px;
    height: 200px;
    margin-top: 30px;
    border: 1px;
    border-style: dashed;
    border-color: black;
}

/*Choose size of image in gallery CSS*/

#id_size input[type="radio"]:checked + img {
    width:100%;
    border: 1px dashed red;
}

#id_size input[type="radio"] + img {
    width:95%;

}

#id_size input[type="radio"]:hover + img {
    cursor: pointer;
}

#id_size input[type="radio"] {
    display: none;
}

ul#id_size li{
    display: inline-block;
    }

#id_size label{
    text-align: center;
    font-weightX: bold;
}

/*Choose position of image in gallery CSS*/

#id_position input[type="radio"]:checked + img {
    width:100%;
    border: 1px dashed red;

}

#id_position input[type="radio"] + img {
    width:95%;

}

#id_position input[type="radio"]:hover + img {
    cursor: pointer;
}

#id_position input[type="radio"] {
    display: none;
}

ul#id_position li{
    display: inline-block;
    }

#id_position label{
    text-align: center;

}


.asteriskField {
    display: none;
}

input[type=radio]:hover{
    cursor: pointer;
  }



