<!DOCTYPE html>
<html lang="cs-cz">
<head>
    {% load static %}
    {% load cart_tag %}
    <meta charset="utf-8" >
    <title>E-shop s tričky</title>
    <link rel="stylesheet" type="text/css" href="{% static 'products/style.css' %}">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

</head>

<header>
    Temp user session ID: {{ request.session.temporary_user_id }} Přihlášený uživatel ID: {{request.user.id}} 
    <div class="flex_box p-4 mb-3 bg-dark" >  
        <span class="login_label">
            {% if user.is_authenticated %}
                {% if user.first_name == 'User' %}
                <a href="{% url 'cart:logout_in' %}">Přihlásit se</a> &nbsp;<span class="glyphicon glyphicon-user"></span>
                <a href="{% url 'cart:sign_up' %}">Registrovat se</a> &nbsp;<span class="glyphicon glyphicon-globe"></span> 
                {% else %}
                Jste přihlášen jako {% if user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{user.username}}{% endif %}
                   &nbsp;<span class="glyphicon glyphicon-user"></span></br>
                <a style="float:right" href="{% url 'logout' %}"> Odhlásit se</a>
                {% endif %}

            {% else %}
            <a href="{% url 'login' %}">Přihlásit se</a> &nbsp;<span class="glyphicon glyphicon-user"></span>
            <a href="{% url 'cart:sign_up' %}">Registrovat se</a> &nbsp;<span class="glyphicon glyphicon-globe"></span> 
            {% endif %}
            
        </span>
        <div class="white-link" style="text-align:center;">
            <a href="{% url 'products:home' %}" class="btn btn-outline-success btn-lg">
                Textil <span class="glyphicon glyphicon-search"></span></a>
            <a href="{% url 'gallery:home' %}" class="btn btn-outline-success btn-lg">
                Moje galerie <span class="glyphicon glyphicon-picture"></span></a>
            {% if user.is_authenticated %}
            <a href="{% url 'cart:cart_view'%}" class="btn btn-outline-success btn-lg">
                Košík <span class="glyphicon glyphicon-shopping-cart"></span>({{ request.user| cart_total }}ks)</a>
            {% elif request.session.temporary_user_id %}
            <a href="{% url 'cart:cart_view'%}" class="btn btn-outline-success btn-lg">
                Košík <span class="glyphicon glyphicon-shopping-cart"></span>({{ request.session.temporary_user_id| cart_total }}ks)</a>
            {% else %} 
            <a href="{% url 'cart:cart_view'%}" class="btn btn-outline-success btn-lg"> 
                Košík <span class="glyphicon glyphicon-shopping-cart"></span></a>
            {% endif %}    
        </div>      
    </div>

    {% if messages %}
        <div class="messages container mt-3">
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        </div>
    {% endif %}

</header>

<body>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% block content %}
{% endblock %}
</body>

</html>