{% extends 'products/base.html' %}

{% block content %}

<div class="product_detail_box white-link">
    <img id="product_detail_image" class=" rounded-top border img-thumbnail" src="{{ tshirt.image.url }}" >
    <ul>
    <li><h3>{{ tshirt.title }}</h3></li>
    <li><p>{{ tshirt.description }}</p></li>
    <li><b>Barva:</b> {{ tshirt.color}}</li>
    <li><b>Dostupné barvy:</b> </br>{% for tshirt in all_colors %}<a href="{% url 'products:detail' tshirt.slug %}"><div class="color_box" style="background-color:{{ tshirt.color.hexacode }}"></div></a>{% endfor %}</li>
    <li><p><b>Velikosti:</b> {% for size in tshirt.size.all %}{{ size }}&nbsp;&nbsp;{% endfor %}</p></li>
    <li class="green_price">Cena s DPH: {{ tshirt.price_with_tax }} Kč</li>
    <li><p>Cena bez DPH: {{ tshirt.price }} Kč</p></li>
    <li><p><button type="button" class="btn btn-success btn-lg text-white"><a href="{% url 'cart:add_item' tshirt.slug %}">Přidat do košíku</a></button>
    <button type="button" class="btn btn-primary btn-lg text-white" style="float:right"><a href="{% url 'products:home' %}">Zpět</a></button></p></li>
    </ul>
</div>




{% endblock %}